/* for crome */
::-webkit-scrollbar {
    width: 5px;
    }
    ::-webkit-scrollbar-track {
    background: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
    background: #5797F8;
    border-radius: 10px;
    }
    /* for mozilla */
    .dashboard-sidebar{
       
        scrollbar-width: thin;
        scrollbar-color: #5797F8 rgb(255, 255, 255);
}

/*  Utility classes */

.border-r-10{ border-radius: 100px; }

.pad-10{ padding: 10px;}

.img_cell{
    width:60px !important;
    min-width: 60px !important;
    height: 60px !important;
}
.img_cell img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.uploaded_img{
    margin: 10px 0;
    width: 200px;
    height: 160px;
    object-fit: cover;
}