@import "./base.css";
@import "./bootstrap5.css";


@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Jost:wght@200;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Nunito:wght@200;400;600;900&family=Poppins:wght@100;200;300;500;600;700&family=Roboto:wght@100;300;500;700&display=swap');


*,*::after,*::before{ margin: 0; padding: 0; box-sizing: border-box;}
body{ width: 100vw; font-family: 'Roboto', sans-serif;}

a{ 
  text-decoration: none;
}

ol,ul{ padding-left: 0}
table{
  position: relative;
}
thead{
  background-color: #0b5ed7;
  color:white;
  position: sticky;
  top:10%;
  left:10%;
  z-index: 5;
}
.btn-sm{font-size: .82rem; padding:.2rem; margin: 1px ;}


@import "./custom.css";
